.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/Test
bin/Debug/netcoreapp3.1/Test.deps.json
bin/Debug/netcoreapp3.1/Test.dll
bin/Debug/netcoreapp3.1/Test.pdb
bin/Debug/netcoreapp3.1/Test.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/Test.runtimeconfig.json
vegav/1_5_10
vegav/1_6_5
vegav/1_7_10
vegav/1_7_15.png
vegav/2_7_10
vegav/10_7_15.png
vegav/chart
vegav/LALA_3.txt
vegav/pat
vegav/pat3.json
other/dedo.gpx
other/pampa.gpx
other/paramillos.gpx
other/perilago.gpx
other/rincon.gpx
other/rocas.gpx
other/output/test.txt
obj/project.assets.json
obj/project.nuget.cache
obj/Test.csproj.nuget.dgspec.json
obj/Test.csproj.nuget.g.props
obj/Test.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/Test
obj/Debug/netcoreapp3.1/Test.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/Test.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/Test.assets.cache
obj/Debug/netcoreapp3.1/Test.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/Test.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/Test.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/Test.dll
obj/Debug/netcoreapp3.1/Test.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/Test.pdb
